<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Document</title>
    </head>
    <body>
        <form action="/login" method="post">
            <div class="pagina"><h1>Login</h1></div>
            <div class="grupo1">
                <label for="user">Email</label>
                <input type="text" value="" name="email">
            </div>
            <br/>  
            <br/>            
            <div class="grupo1">    
                <label for="user">Senha</label>
                <input type="password" value="" name="senha">
                <button class="buttonform" type="submit">enviar</button> 
            </div>
            <br/>
            <br/>
            <br/>            
            <div> 
                <label for="user">Usuário :</label>                    
                <select  name="user" id="">
                    <option  name="user" value="">Visitante</option>
                    <option  name="user" value="True">Administrador</option>
                    <option  name="user" value="False">Funcionário</option>
                    
                </select>
            </div>
            <br/>      
        </form>
        
    </body>
</html>